html {
    background-color: lightgray;
}

body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article {
    background-color: white;
    max-width: 800px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: rgb(75, 75, 75);
}

button {
    padding: 1em;
    width: 30em;
    border-radius: 0.3em;
}

input {
    border: none;
    border-bottom: 2px solid lightgray;
}

button {
    background-color: lightgray;
    color: black;
    font-weight: bold;
    border: none;
    margin-top: 2em;
}

.example {
    color: grey;
    font-style: italic;
    font-size: 0.8em;
    margin-top: 1em;
}