section p {
    color: red;
}

ul > li {
    list-style-type: none;
    font-weight: bold;
    line-height: 30px;
}

article + article {
    background-color: darksalmon;
}

h2 ~ p {
    color: blue;
}

li > a {
    text-decoration: none;
    color: purple;
}

.special ~ li > a {
    color: green;
}