* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font: bold 24px/1.5 Arial, serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    border: 3px solid green;
    padding: 1em;
    margin: 1em;
}

.wrapper {
    border: 3px solid blue;
    max-width: 1000px;
    margin: 0 auto;
}

header, main, footer {
    border: 3px solid black;
    text-align: center;
    margin: 1em;
    padding: 1em;
}